.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

  table {
    width: 100%;
  }

.mat-column-id {
    flex: 0 0 30%;
}
.mat-column-name {
    flex: 0 0 30%;
}

.mat-column-description {
    flex: 0 0 30%;
}